{% extends "base.html" %}

{% block content %}
<div class="Main-content">
    <section class="Content-unit">
        <main role="main" class="container">
            <h1>Создание контеста</h1>
            <form action="" method="post" enctype="multipart/form-data" novalidate>
                {{ form.hidden_tag() }}
                {{ form.csrf_token }}
                <p>
                    {{ form.name.label }}<br>
                    {{ form.name(class="form-control") }}<br>
                    {% for error in form.name.errors %}
                    <p class="alert alert-danger" role="alert">
                      {{ error }}
                    </p>
                    {% endfor %}
                </p>
                <p>
                    {{ form.description.label }}<br>
                    {{ form.description(class="form-control") }}<br>
                    {% for error in form.description.errors %}
                    <p class="alert alert-danger" role="alert">
                      {{ error }}
                    </p>
                    {% endfor %}
                </p>
                <p>
                    {{ form.start_time.label }}<br>
                    {{ form.start_time(class="form-control") }}<br>
                    {% for error in form.start_time.errors %}
                    <p class="alert alert-danger" role="alert">
                      {{ error }}
                    </p>
                    {% endfor %}
                </p>
                <p>
                    {{ form.end_time.label }}<br>
                    {{ form.end_time(class="form-control", id="datetimepicker") }}<br>
                    {% for error in form.end_time.errors %}
                    <p class="alert alert-danger" role="alert">
                      {{ error }}
                    </p>
                    {% endfor %}
                </p>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                <p style="color:red">{{message}}</p>
            </form>
        </main>
    </section>
</div>
{% endblock %}