{% extends "base.html" %}

{% block content %}
<div class="Main-content">
    <section class="Content-unit">
        <main role="main" class="container">
            <div class="container mt-4">
              <div class="column">
                <h1>{{contest.name}}</h1><br>
                <a class="btn btn-success" href="/get_stats/{{contest.contest_id}}">
                    Получить статистику
                </a><br><br>
                <form action="" method="post" enctype="multipart/form-data" novalidate>
                    {{ contest_form.hidden_tag() }}
                    {{ contest_form.csrf_token }}
                    <p>
                        {{ contest_form.name.label }}<br>
                        {{ contest_form.name(class="form-control") }}<br>
                        {% for error in contest_form.name.errors %}
                        <p class="alert alert-danger" role="alert">
                          {{ error }}
                        </p>
                        {% endfor %}
                    </p>
                    <p>
                        {{ contest_form.description.label }}<br>
                        {{ contest_form.description(class="form-control") }}<br>
                        {% for error in contest_form.description.errors %}
                        <p class="alert alert-danger" role="alert">
                          {{ error }}
                        </p>
                        {% endfor %}
                    </p>
                    <p>
                        {{ contest_form.start_time.label }}<br>
                        {{ contest_form.start_time(class="form-control") }}<br>
                        {% for error in contest_form.start_time.errors %}
                        <p class="alert alert-danger" role="alert">
                          {{ error }}
                        </p>
                        {% endfor %}
                    </p>
                    <p>
                        {{ contest_form.end_time.label }}<br>
                        {{ contest_form.end_time(class="form-control", id="datetimepicker") }}<br>
                        {% for error in contest_form.end_time.errors %}
                        <p class="alert alert-danger" role="alert">
                          {{ error }}
                        </p>contest_
                        {% endfor %}
                    </p>
                    <p>{{ contest_form.submit(type="submit", class="btn btn-primary") }}</p>
                    <p style="color:red">{{contest_message}}</p>
                </form><br>
                <h2>Группы</h2>
                <form action="" method="post" enctype="multipart/form-data" novalidate>
                {{ group_form.hidden_tag() }}
                {{ group_form.csrf_token }}
                <p>
                    {{ group_form.group_id.label }}<br>
                    {{ group_form.group_id(class="form-control") }}<br>
                    {% for error in group_form.group_id.errors %}
                    <p class="alert alert-danger" role="alert">
                      {{ error }}
                    </p>
                    {% endfor %}
                {{ group_form.submit1(type="submit", class="btn btn-primary") }}</p>
                <p style="color:red">{{group_message}}</p>
                </form>
                  {% for group in groups %}
                  <div class="col-12 mb-4">
                     <div class="card">
                          <div class="card-body">
                              <h5 class="card-title">{{group.group_id}}: {{group.group_name}}</h5>
                              <a class="btn btn-danger" href="/manage_contest/{{contest.contest_id}}/delete_group/{{group.group_id}}">
                                Исключить
                              </a>
                          </div>
                      </div>
                  </div>
                  {% endfor %}
                  <h2>Задачи</h2>
                  <form action="" method="post" enctype="multipart/form-data" novalidate>
                    {{ task_form.hidden_tag() }}
                    {{ task_form.csrf_token }}
                    <p>
                        {{ task_form.task_id.label }}<br>
                        {{ task_form.task_id(class="form-control") }}<br>
                        {% for error in task_form.task_id.errors %}
                        <p class="alert alert-danger" role="alert">
                          {{ error }}
                        </p>
                        {% endfor %}
                    {{ task_form.submit2(type="submit", class="btn btn-primary") }}</p>
                    <p style="color:red">{{task_message}}</p>
                  </form>
                  {% for task in tasks %}
                  <div class="col-12 mb-4">
                     <div class="card">
                          <div class="card-body">
                              <h5 class="card-title">{{task.c_t.num}}: {{task.task.title}}</h5>
                              <a class="btn btn-danger" href="/manage_contest/{{contest.contest_id}}/delete_task/{{task.c_t.num}}">
                                Удалить
                              </a>
                          </div>
                      </div>
                  </div>
                  {% endfor %}

              </div>
          </div>
        </main>
    </section>
</div>
{% endblock %}